<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
    <h1>Edit Page</h1>
    <form th:action="@{/user/edit}"  method="post" th:object="${user}">
        <label>User ID:</label>
        <input type="text" th:field="*{id}" readonly/><br/>

        <label>User name:</label>
        <input type="text" th:field="*{userName}" /><br/>

        <label>Phone Number:</label>
        <input type="number" th:field="${user.phoneNumber}" /><br/>

        <label>Gender:</label>
        <input type="radio" th:field="*{gender}" value="Male" />Male
        <input type="radio" th:field="*{gender}" value="Female" />Female<br/>

        <label>Profession:</label>
        <select th:field="*{city}">
            <option th:each="c : ${cities}" th:value="${c}" th:text="${c}" />
        </select>
        <br/>

        <!--        <label>Married?</label>-->
        <!--        <input type="checkbox" th:field="*{married}" /><br/>-->
        <label>Married : </label>
        <input type="radio" th:field="*{married}" value="Married" />Married
        <input type="radio" th:field="*{married}" value="Single" />Single<br/>

        <button type="submit">Edit</button>
    </form>
</body>
</html>